:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #212121;
  --secondary-color: #757575;
  --background-color: #ffffff;
  --brand-color: #2196f3;
}

/* BODY */
body {
  color: var(--background-color);
  font-family: var(--main-font);
  font-style: normal;
}

/* Common Value */
img {
  display: block;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.nav-header-link.current {
  color: var(--brand-color);
}

.current {
  position: relative;
}

.current::after {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  background-color: #2196F3;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  height: 4px;
}
.link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.link:hover {
  color: var(--brand-color);
}

/* HEDEAR */
.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}

/* Список Nav */
.nav {
  display: flex;
  align-items: center;
}

/* Логотип WebStudio */
.header-link {
  color: #000;
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  margin-left: 0;
  margin-right: 93px;
}
.header-link-color {
  color: var(--brand-color);
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

/* Nav List */
.header-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  margin: 0;
}
.header-list-item {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  padding: 32px 0;
}
.nav-header-link {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

/* Contact List */
.header-contact-list {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
.header-contact-list-item:first-child {
  margin-right: 50px;
}
.header-contact-link {
  color: var(--secondary-color);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  display: flex;
  align-items: center;
}

.link:hover,
.link:hover svg,
.link:focus,
.link:focus svg {
  color: var(--brand-color);
  fill: var(--brand-color);
}

.contacts-link-icon-email {
  fill: var(--secondary-color);
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.contacts-link-icon-phone {
  fill: var(--secondary-color);
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

/* FOOTER */
.fotter {
  background: #2f303a;
  padding: 60px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}

/* Логотип WebStudio */
.fotter-link-logo {
  color: var(--brand-color);
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  display: flex;
  margin: 0;
  margin-bottom: 20px;
}
.accent {
  color: var(--background-color);
}

/* Adress */
.adress {
  margin-right: 70px;
  font-style: normal;
  }
  
.fotter-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
 
}
.fotter-contacts-link-white {
  color: var(--background-color);
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.fotter-contacts-link {
  color: rgba(255, 255, 255, 0.6);
}

.social-title {
  color: #fff;
  font-family: var(--secondary-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icons svg {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.social-icons a:hover,
.social-icons a:focus {
  background-color: #2196F3;;
}

/* MAIN STUDIO*/
/* Section 1 */
.main-section-1 {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/title/Imgtitle.jpg);
  max-width: 1600px;
  margin: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

/* Title */
.main-title {
  max-width: 696px;
  color: var(--background-color);
  justify-content: center;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  box-sizing: content-box;
  margin: auto;
  margin-bottom: 30px;
}

/* Кнопка */
.btn {
  border-radius: 4px;
  border: transparent;
  background: var(--brand-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--background-color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  display: flex;
  margin: auto;
  cursor: pointer;
  padding: 10px 32px;
}

/* Section 2 */
.main-section-2 {
  padding: 94px 0;
}

/* Section2 List */
.main-section-2-list {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.sprite-border {
  border-radius: 4px;
  background: #f5f4fa;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sprite-icon {
  width: 70px;
  height: 70px;
}

.main-section-2-list-item {
  max-width: 270px;
}

.main-section-2-title {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}

.main-section-2-title-text {
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.42px;
  margin: 0;
}

.main-section-3 {
  padding-bottom: 94px;
}

.main-section-3-title {
  color: var(--main-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;

  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 50px;
  /* box-sizing: content-box; */
}

.main-section-3-list {
  display: flex;
  /* justify-content: flex-start; */
  padding-left: 0;
  gap: 30px;
  margin: auto;

}

.section-3-item {
  position: relative;
}

.section-3-item p {
  content: " ";
  position: absolute;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color : rgba(47, 48, 58, 0.80);;
  
}



/* Team box */
.team-container {
  background: #f5f4fa;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  color: var(--main-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.team-list {
  display: inline-flex;
  justify-content: center;
  padding-left: 0;
  margin: auto;
  gap: 30px;
}

.team-card {
  max-width: 270px;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-text {
  padding: 30px 0;
}
.team-title-name {
  color: var(--main-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin: auto;
  margin-bottom: 10px;
}

.team-icon {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-icon a {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}

.team-icon a:hover,
.team-icon a:hover svg,
.team-icon a:focus,
.team-icon a:focus svg {
  background-color: var(--brand-color);
  fill: var(--background-color);
}

.team-icon svg {
  fill: rgba(175, 177, 184, 1);
  width: 20px;
  height: 20px;
}

.team-position {
  color: var(--secondary-color);
  text-align: center;
  font-family: var(--main-font);
  font-size: 16px;
  margin: auto;
  margin-bottom: 16px;

  letter-spacing: 0.48px;
}

/* Clients */

.clients-container {
  padding: 94px 0;
}
.clients-title {
  color: #212121;
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin: 0;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients-list a {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-list svg {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
}

/* .clients-list :hover, */
.clients-list :hover svg,
/* .clients-list :focus, */
.clients-list :focus svg {
  fill: #2196f3;
}


/*Button*/
/* .list-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

.filter-btn {
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  background: #f5f4fa;
  color: var(--main-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.48px;
  padding: 6px 22px;
  min-width: 73px;
}

.filter-btn:hover {
  color: var(--background-color);
  background-color: var(--brand-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);

}


.portfolio-filters {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 0;
  margin-bottom: 50px;
}

.portfolio-main {
  padding: 94px 0;
}

.portfolio-main h3 {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}

.portfolio-main p {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.48px;
  margin: 0;
}

.list-project {
  display: flex;
  justify-content: center;
  gap:30px;
  flex-wrap: wrap;
  
}

.list-project li:hover,
.list-project li:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12)
}

.list-project li {
  border: 1px solid #eee;
  background: #fff;
  max-width: 370px;
}
.project-text {
  padding: 20px 24px;
}



